<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/bootstrap.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
</head>
<style>
    *{
        padding:5%
    }
    form{
        
        justify-content: center;
    }
</style>
<body>
    <div id="container">
            <h1>Cotizacion</h1>
            <form action="/cotizacion" method="post" class="mb-3">
            <div class="col-sm-6">
                <label for="" class="form-label">Valor del automovil:</label>
                <input class="form-control" style="width: 300px;" type="number" name="valor" id="valor" required="true" value="<%=valor%>">
            </div>
            
            <div class="col-sm-6">
                <label class="form-label" for="">Porcentajes de pago inicial</label>
                <select name="pInicial" id="pInicial">
                    <option value=10>10%</option>
                    <option value=20>20%</option>
                    <option value=30>30%</option>
                    <option value=50>50%</option>
                    <option value=70>70%</option>
                </select>
                <br>
                <label for=""> Plazos</label>
                <select name="plazos" id="plazos">
                    <option value=12>12 Meses</option>
                    <option value=24>24 Meses</option>
                    <option value=36>36 Meses</option>
                    <option value=48>48 Meses</option>
                    <option value=60>60 Meses</option>
                    <option value=72>72 Mesess</option>
                </select>
                <button type="submit">Cotizar</button>
            </div>
                
            </form>  
        
        <%
        if(valor!=0){
            let pagoInicial=0;
            let totalFin=0;
            let pagoMensual=0;
    
            pagoInicial= valor *(pInicial/100);
            totalFin = valor - pagoInicial;
            pagoMensual = totalFin/plazos;
            %>
            <hr>
        <h3>Resumen de la cotizacion: </h3> <br>
        <p>
        Valor del automovil: $<%=valor%> <br>
        Porcentaje de pago Inicial: <%=pInicial%>% <br> 
        Plazos : <%=plazos%> <br>
        Pago Inicial : $<%=pagoInicial%> <br>
        Total a pagar : $<%=totalFin%> <br>
        Pago Mensual: $<%=pagoMensual%>
        </p>
        <%
        }
    
        %>
        
    </div>
   
</body>
</html>